@media screen {
    body h1,h2,h3,h4,h5 {
        color: #6f42c1;
    }
    body p{
        color: saddlebrown;
        font-size: x-large;
        margin: 0;
        padding: 0;
    }
    header_logo_img{
        display:block;
        margin:auto;
    }
}

.img img{
    width: 200px;
    height: 300px;
}

footer{
    background: rgb(149,0,255);
    background: linear-gradient(180deg, rgba(149,0,255,1) 0%, rgba(78,28,176,1) 58%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
}

footer h1{
    color: white;
}
footer p{
    color: yellow;
}
#toTop {
    border-radius: 10px;
    width:100px;
    opacity: 0.7;
    background:#6f42c1;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:20px; /* отступ кнопки от нижнего края страницы*/
    right:10px;
    cursor:pointer;
    display:none;
    color:white;
    font-family:verdana;
    font-size:12px;
}
